.era-page {
  background: #000;
  color: #f5f0e6;
  padding: 2.5rem 6vw 3rem;
  min-height: calc(100vh - 70px);
  font-family: 'Georgia', 'Times New Roman', serif;
}


@media (max-width: 900px) {
  .era-page {
    padding: 2rem 5vw 2.5rem;
  }
}
